<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mitchell.playtoy" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".decideVersion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.simplePopup" >
        </activity>
        <activity
            android:name=".xWins"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.simplePopup" >
        </activity>
        <activity
            android:name=".oWins"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.simplePopup" >
        </activity>
        <activity
            android:name=".tttDraw"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.simplePopup" >
        </activity>
        <activity
            android:name=".vsHuman"
            android:label="@string/title_activity_second_activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".vsComp"
            android:label="@string/title_activity_second_activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".rateMonitor"
            android:label="@string/title_activity_rate_monitor"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
